{% load  static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% include 'shionhouse/head.html' %}
</head> 
<body class="full-wrapper">
    <!-- ? Preloader Start -->
    {% include 'shionhouse/preloader_start.html' %}
    <!-- Preloader End-->
    <!-- Header Start  -->
    {% include 'shionhouse/header_start.html' %}
    <!-- header end -->
    <!-- breadcrumb Start-->
    {% include 'shionhouse/breadcrumb_start.html' %}
    <!-- breadcrumb End-->
    <main>
        <!-- About Area Start -->
        <div class="about-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-tittle mb-60 text-center pt-10">
                            <h2>Our Story</h2>
                            <p class="pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="about-img pb-bottom">
                            <img src="{% static 'assets/img/gallery/about1.png' %}" alt="" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-tittle mb-60 text-center pt-10">
                            <h2>Journey start from</h2>
                            <p class="pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="about-img pb-bottom">
                            <img src="{% static 'assets/img/gallery/about2.png' %}" alt="" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-tittle mb-60 text-center pt-10">
                            <h2>2020</h2>
                            <p class="pera">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->
        <!--? Popular Items Start -->
        {% include 'shionhouse/popular_items.html' %} 
        <!-- Popular Items End -->
        <!--? Services Area Start -->
        {% include 'shionhouse/services_area.html' %} 
        <!--? Services Area End -->
    </main>

   
    <!-- Footer Start-->
    {% include 'shionhouse/footer_start.html' %}
    <!-- Footer End-->
    <!--? Search model Begin -->
    {% include 'shionhouse/search_model_begin.html' %}
    <!-- Search model end -->
    <!-- Scroll Up -->
    {% include 'shionhouse/scroll_up.html' %}

    <!-- JS here -->
    {% include 'shionhouse/js_here.html' %}
</body>
</html>