{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    {% include 'shionhouse/head.html' %} 
  </head>
  <body class="full-wrapper">
    <!-- ? Preloader Start -->
    {% include 'shionhouse/preloader_start.html' %}
    <!-- Preloader Start-->
    <!-- header Start -->
    {% include 'shionhouse/header_start.html' %} 
    <!-- header end -->
    <!--? Hero Area Start-->
    {% include 'shionhouse/hero_area_start.html' %} 
    <!-- End Hero -->   
    <!--? Popular Items Start -->
    {% include 'shionhouse/popular_items.html' %} 
    <!-- Popular Items End -->
    <!--? New Arrival Start -->
    {% include 'shionhouse/all_products.html' %}
    <!--? New Arrival End -->
    <!--? collection -->
    {% include 'shionhouse/collection.html' %}
    <!-- End collection -->
    <!--? Popular Locations Start 01-->
    {% include 'shionhouse/collection2.html' %}
    <!-- Popular Locations End -->
    <!--? Services Area Start -->
    {% include 'shionhouse/services_area.html' %} 
    <!--? Services Area End -->

    <!-- Footer Start-->
    {% include 'shionhouse/footer_start.html' %}
    <!-- Footer End-->
    <!--? Search model Begin -->
    {% include 'shionhouse/search_model_begin.html' %}
    <!-- Search model end -->
    <!-- Scroll Up -->
    {% include 'shionhouse/scroll_up.html' %}

    <!-- JS here -->
    {% include 'shionhouse/js_here.html' %}
  </body>
</html>
